---
import BuyBtn from '../components/BuyBtn.astro'
import GoBackBtn from '../components/GoBackBtn.astro'
import { books } from '../data/books'
import Layout from '../layouts/Layout.astro'
const { book } = Astro.params

const info = books.find((b) => b.id === book)
if (!info) {
  return Astro.redirect('/404')
}
---

<Layout title={`Libro - ${info.title}`}>
  <main class='m-auto max-w-4xl'>
    <header class='relative'>
      <GoBackBtn />
      <h1
        class='scale-75 text-black uppercase text-6xl md:text-8xl text-center font-black p-4'
        style='view-transition-name: book-title'
      >
        Libros de <span class='block text-[36px] md:text-[58px]'>Fórmula 1</span
        >
      </h1>
    </header>
    <div class='grid grid-cols-1 md:grid-cols-[350px_1fr] mt-4 md:mt-20 mx-4'>
      <div class='flex flex-col'>
        <picture class='mb-8'>
          <img
            class='aspect[204/324] h-full object-cover rounded'
            src={info.img}
            alt={`Portada del libro ${info.title}`}
            style={`view-transition-name: ${info.id}`}
          />
        </picture>
        <BuyBtn />
      </div>
      <aside class='mt-10 md:mt-0'>
        <h1 class='text-3xl font-black mb-4'>{info.title}</h1>
        <p class='text-lg'>{info.opinion}</p>
        <p class='mt-4'>
          <strong>Autor:</strong>
          <span class='font-semibold text-gray-700'>{info.author}</span>
        </p>
      </aside>
    </div>
  </main>
</Layout>
