---
import { books } from '../data/books'
import Layout from '../layouts/Layout.astro'
const { book } = Astro.params

const info = books.find((b) => b.id === book)
if (!info) {
  return Astro.redirect('/404')
}
---

<Layout title={`Libro - ${info.title}`}>
  <main class='m-auto max-w-4xl'>
    <div class='grid grid-cols-2 gap-x-12 mt-20'>
      <div class='flex justify-end'>
        <picture class='mb-8'>
          <img
            class='aspect[204/324] h-full object-cover rounded'
            src={info.img}
            alt={`Portada del libro ${info.title}`}
          />
        </picture>
      </div>
      <aside>
        <h1 class='text-3xl font-black mb-4'>{info.title}</h1>
        <p class='text-lg'>{info.opinion}</p>
        <p class='mt-4'>
          <strong>Autor:</strong>
          <span class='font-semibold text-gray-700'>{info.author}</span>
        </p>
      </aside>
    </div>
  </main>
</Layout>
